/// Base Scss
///
/// Including Variables
@import '../partials/importer';

* {
  outline: none;
  @include box-sizing(border-box);
}

html, body, h1, h2, h3, h4, h5, h6, aside, section, ul, li, a {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  ul {
    li {
      list-style: none;
    }
  }
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

